[submodule "zsh/git-prompt"]
	path = zsh/git-prompt
	url = git://github.com/olivierverdier/zsh-git-prompt.git
[submodule "bundle/irssi"]
	path = bundle/irssi
	url = git@github.com:scicalculator/Tmux-IRSSI.git
[submodule "bundle/port-extended"]
	path = bundle/port-extended
	url = git@github.com:scicalculator/port-extended.git
[submodule "bundle/tmx"]
	path = bundle/tmx
	url = git@github.com:scicalculator/tmux-tmx.git
