[submodule "zsh/git-prompt"]
	path = zsh/git-prompt
	url = git://github.com/olivierverdier/zsh-git-prompt.git
[submodule "bundle/irssi"]
	path = bundle/irssi
	url = git@github.com:scicalculator/Tmux-IRSSI.git
[submodule "bundle/port-extended"]
	path = bundle/port-extended
	url = git@github.com:scicalculator/port-extended.git
[submodule "bundle/tmx"]
	path = bundle/tmx
	url = git@github.com:scicalculator/tmux-tmx.git
[submodule "bundle/tssh"]
	path = bundle/tssh
	url = git@github.com:scicalculator/tssh.git
[submodule "bundle/gcalcli"]
	path = bundle/gcalcli
	url = git://github.com/insanum/gcalcli.git
[submodule "bundle/stderred"]
	path = bundle/stderred
	url = git://github.com/sickill/stderred.git
[submodule "bundle/igcc"]
	path = bundle/igcc
	url = git://igcc.git.sourceforge.net/gitroot/igcc/igcc
[submodule "bundle/xls2csv"]
	path = bundle/xls2csv
	url = git://github.com/hempalex/xls2csv.git
[submodule "bundle/tig"]
	path = bundle/tig
	url = git://github.com/jonas/tig.git
[submodule "bundle/matplotlib"]
	path = bundle/matplotlib
	url = git://github.com/matplotlib/matplotlib.git
[submodule "vim"]
	path = vim
	url = git@github.com:scicalculator/dotvim.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = git://github.com/ggreer/the_silver_searcher.git
